<?xml version="1.0" encoding="iso-8859-1"?>
<Events>
  <Event>
    <ID>1</ID>
    <Name>Test Event</Name>
    <Enabled>1</Enabled>
    <Trigger>
      <Type>WindowActivated</Type>
      <WindowMatchType>Class</WindowMatchType>
      <Filter>explorer.exe</Filter>
    </Trigger>
    <Conditions>
      <Condition>
        <Type>WindowActive</Type>
        <WindowMatchType>class</WindowMatchType>
        <Filter>CabinetWClass1</Filter>
      </Condition>
    </Conditions>
    <Actions>
      <Action>
        <Type>Run</Type>
        <Command>C:\Windows\System32\cmd.exe</Command>
        <WaitForFinish>0</WaitForFinish>
      </Action>
      <Action>
        <Type>Message</Type>
        <Text>CMD started!</Text>
        <Title>narf</Title>
        <TimeOut />
      </Action>
    </Actions>
  </Event>
  <Event>
    <ID>3</ID>
    <Name>New event</Name>
    <Enabled>1</Enabled>
    <Trigger>
      <Type>None</Type>
    </Trigger>
    <Conditions />
    <Actions />
  </Event>
  <Event>
    <ID>4</ID>
    <Name>New event</Name>
    <Enabled>1</Enabled>
    <Trigger>
      <Type>None</Type>
    </Trigger>
    <Conditions />
    <Actions />
  </Event>
</Events>